<footer class="footer">
  <div class="footer-container">
    <!-- Kompaniya haqida qisqa ma'lumot -->
    <div class="footer-about">
      <h3>Urpha Capital</h3>
      <p>
        Bizning kompaniya sifatli xizmat va mahsulotlarni taqdim etish orqali mijozlar ehtiyojlarini qondirishga intiladi. Har doim yuqori darajadagi texnologiya va malakali mutaxassislar bilan ishlaymiz.
      </p>
    </div>

    <!-- Ijtimoiy tarmoqlar -->
    <div class="footer-social">
      <h3>Bizni kuzatib boring</h3>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/odilov_tohirjon/" target="_blank">
            <i class="fab fa-instagram" style="color: purple;"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://t.me/t_odilov" target="_blank">
            <i class="fab fa-telegram-plane" style="color: royalblue;"></i> Telegram
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@Tohirjon-Odilov"  target="_blank">
            <i class="fab fa-youtube" style="color: crimson;"></i> YouTube
          </a>
        </li>
      </ul>
    </div>

    <!-- Footer pastki qismi -->
    <div class="footer-bottom">
      <p>&copy; 2024 Urpha Capital. Barcha huquqlar himoyalangan.</p>
    </div>
  </div>
</footer>
