<section class="login-section">
  <div class="container">
    <div class="login">
      <h2>Kirish</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username"><span style="color: red;">*</span> Email</label>
          <div class="input-icon">
            <i class="fa fa-user"></i>
            <input
              id="email"
              type="text"
              formControlName="email"
              placeholder="Email kiring"
            />
          </div>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
            Email kiritilishi shart
          </div>
        </div>

        <div class="form-group">
          <label for="password"><span style="color: red;">*</span> Parol</label>
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Parol"
            />
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
            Parol kiritilishi shart
          </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">
          Kirish
        </button>
        <p style="color: royalblue; text-decoration: underline; cursor: pointer; margin-top: 10px; text-align: center;" class="forgot-password" routerLink="/register">Ro'yhatdan o'tish</p>
        <p style="color: black; cursor: pointer; margin-top: 10px; text-align: center;" class="forgot-password" routerLink="/">Bosh sahifaga qaytish</p>
      </form>
    </div>
  </div>
</section>
