<div class="courses" *ngIf="isCourseAdmin && courses">
  <div *ngIf="isLoading" class="loading-container">Loading courses...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <h2 class="course-table-heading">Courses List</h2>
  <table *ngIf="!isLoading && courses.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Subtitle</th>
        <th>Price</th>
        <th>Mentor ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let course of courses"
      >
        <td>{{ course.name }}</td>
        <td class="course-description">{{ course.description }}</td>
        <td class="course-description course-subtitle">
          {{ course.subtitle }}
        </td>
        <td class="course-description course-price">{{ course.price }}</td>
        <td>{{ course.mentorId }}</td>
        <td>
          <button class="edit-button" (click)="editCourse(course.id)">
            Edit
          </button>
          <button class="delete-button" (click)="deleteCourse(course.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!isLoading && courses.length === 0" class="no-data-message">
    No courses available.
  </div>
</div>

<!-- /////////////////////////////////////////////////////// -->

<div class="lessons" *ngIf="!isCourseAdmin && lessons">
  <div *ngIf="isLoading" class="loading-container">Loading lesson...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <h2 class="course-table-heading">Lesson List</h2>
  <table *ngIf="!isLoading && lessons.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>Lesson Name</th>
        <th>Description</th>
        <th>Subtitle</th>
        <!-- <th>Price</th> -->
        <!-- <th>Mentor ID</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let lesson of lessons"
        routerLink="/dashboard/lessons/{{ lesson.id }}"
        disabled
      >
        <td>{{ lesson.title }}</td>
        <td class="course-description">{{ lesson.homeworkDescription }}</td>
        <td class="course-description course-subtitle">
          {{ lesson.subtitle }}
        </td>
        <!-- <td class="course-description course-price">{{ course.price }}</td> -->
        <!-- <td>{{ course.mentorId }}</td> -->
        <td>
          <button class="edit-button" (click)="editCourse(lesson.id)">
            Edit
          </button>
          <button class="delete-button" (click)="deleteCourse(lesson.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!isLoading && lessons.length === 0" class="no-data-message">
    No lessons available.
  </div>
</div>
