.marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 20px 0px;
  background-color: #4d731269;
}

.marquee-content {
  display: flex;
  animation: marquee 15s linear infinite;
}

.marquee-content span {
  display: inline-block;
  padding-right: 100px; /* Matnlar orasidagi bo'shliq */
  color: rgb(2, 245, 2);
  font-size: 26px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
