<app-morquee-annoucment></app-morquee-annoucment>
<header class="site-header">
  <div class="header">
    <div class="container">
      <div class="site-logo">
        <img routerLink="/" src="/assets/navbar-logo.png" width="270" alt="" />
        <div>
          <!-- <p>login</p> -->
          <!-- <img src="/assets/menu-bar.png" width="50" alt=""> -->
          <button (click)="toggleMenu()" class="menu-toggle">
            <img
              [src]="
                !menuVisible ? '/assets/menu-bar.png' : '/assets/menu-icon.png'
              "
              alt="Menu Icon"
            />
          </button>
        </div>
      </div>
    </div>
    <div (click)="closeMenuIfOpen($event)">
      <div *ngIf="menuVisible" class="menu" (click)="$event.stopPropagation()">
        <ul>
          <li><a routerLink="/">Bosh sahifa</a></li>
          <li *ngIf="token">
            <a href="javascript:void(0)" [routerLink]="['/profile']">Profile</a>
          </li>
          <li><a routerLink="/courses">Kurslar</a></li>
          <li>
            <a href="javascript:void(0)" (click)="scrollToElement('mentor')"
              >Mentorlar</a
            >
          </li>
          <li *ngIf="!token">
            <a href="javascript:void(0)" [routerLink]="['/login']"
              >Akkauntga kirish</a
            >
          </li>
          <li *ngIf="token">
            <a href="javascript:void(0)" routerLink="/login">Chiqish</a>
          </li>
        </ul>
        <button class="call-button">
          <a href="tel:+998934013443">Qo'ng'iroq qilish</a>
        </button>
      </div>
    </div>
  </div>
</header>
