.site-header{
  padding: 20px 0;
  border-bottom: 1px solid white;
  .site-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      display: flex;
      align-items: center;
      gap: 50px;
      p{
        font-size: 50px;
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .site-logo{
      &>img{
        width: 200px;
      }
      div{
        gap: 20px;
        p{
          font-size: 30px;
        }
        &>img{
          width: 35px;
        }
      }
    }
  }

  @media only screen and (max-width: 410px) {
    .site-logo{
      &>img{
        width: 150px;
      }
      div{
        gap: 10px;
        p{
          font-size: 20px;
        }
        &>img{
          width: 30px;
        }
      }
    }
  }
}