.site-header{
  padding: 20px 0;
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10000;
  // filter: blur();
  backdrop-filter: blur(105px);
  .site-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      cursor: pointer;
    }
    div{
      display: flex;
      align-items: center;
      gap: 50px;
      p{
        font-size: 50px;
      }
    }
  }

  .menu {
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 120px;
    right: 50px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    *{
      color: white;
    }

    ul{
      display: flex;
      // align-items: center;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 20px;
      li{
        font-size: 20px;
        cursor: pointer;
      }
    }
    
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 30px;
    height: 30px;
}

.call-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

  

  @media only screen and (max-width: 550px) {
    .site-logo{
      &>img{
        width: 200px;
      }
      div{
        gap: 20px;
        p{
          font-size: 30px;
        }
        &>img{
          width: 35px;
        }
      }
    }
  }

  @media only screen and (max-width: 410px) {
    .site-logo{
      &>img{
        width: 150px;
      }
      div{
        gap: 10px;
        p{
          font-size: 20px;
        }
        &>img{
          width: 30px;
        }
      }
    }
  }
}