<div class="background">
  <section class="county-section">
    <div class="container">
      <div class="county">
        <form action="" class="county-form">
          <h2>Shartnoma bilan tanishib chiqing.</h2>
          <p>Shartnoma</p>
          <p>Guvohnoma</p>
          <label for="">
            <input type="checkbox" name="" id="" placeholder="">
            Tanishib chiqdim
          </label>
          <button type="submit">Tasdiqlayman</button>
        </form>
      </div>
    </div>
  </section>
</div>
