<div class="wrapper">
  <div class="marquee" *ngIf="isVisible">
    <div class="marquee-content">
      <span
        >&lt; {{annoucement}} &gt; • &lt; {{annoucement}} &gt; • &lt; {{annoucement}}
        &gt;</span
      >
      <span
        >&lt; {{annoucement}} &gt; • &lt; {{annoucement}} &gt; • &lt; {{annoucement}}
        &gt;</span
      >
      <span
        >&lt; {{annoucement}} &gt; • &lt; {{annoucement}} &gt; • &lt; {{annoucement}}
        &gt;</span
      >
    </div>
    <!-- <button class="close-btn" (click)="closeAnnouncement()">✕</button> -->
  </div>
</div>
