<app-navbar></app-navbar>

<section class="profile-section">
  <div>
    <div class="container">
      <app-go-back></app-go-back>
      <div class="wrapper">
        <div class="profile-card">
          <div class="profile-header">
            <img
              src="{{ 'https://api.urphacapital.uz/' + user.img }}"
              alt="Profile Avatar"
              class="profile-avatar"
            />
            <h2>{{ user.fullName }}</h2>
            <p>{{ user.email }}</p>
            <button (click)="openModal()">Profile ma'lumotlarini o'zgartirish</button>
          </div>

          <div class="profile-details">
            <h3>Shaxsiy ma'lumotlar</h3>
            <ul>
              <li><strong>Ism:</strong> {{ user.fullName }}</li>
              <li><strong>Email:</strong> {{ user.email }}</li>
              <li><strong>Telefon:</strong> {{ user.phoneNumber }}</li>
              <li><strong>Manzil:</strong> {{ user.address }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal -->

<div class="modal-container">
    <!-- Modal Oynaning HTML ko'rinishi -->
<div class="modal-backdrop" *ngIf="visible">
  <div class="modal">
    <div class="modal-header">
      <h2>Foydalanuvchi ma'lumotlari</h2>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Ismingiz</label>
          <input id="name" formControlName="name" type="text" placeholder="Ismingizni kiriting">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" placeholder="Emailingizni kiriting">
        </div>

        <div class="form-group">
          <label for="phone">Telefon</label>
          <input id="phone" formControlName="phone" type="text" placeholder="Telefon raqamingizni kiriting">
        </div>

        <div class="form-group">
          <label for="address">Manzil</label>
          <input id="address" formControlName="address" type="text" placeholder="Manzilni to'g'ri kiriting">
        </div>

        <!-- <div class="form-group">
          <label for="passwordHash">Parol</label>
          <input id="passwordHash" formControlName="passwordHash" type="text" placeholder="Parolni to'g'ri kiriting">
        </div> -->

        <button type="submit" class="submit-button">Saqlash</button>
      </form>
    </div>
  </div>
</div>

</div>
