<div class="background">
  <section class="course-info-section">
    <app-go-back></app-go-back>
    <div class="">
      <div class="course-info">
        <a href="/" class="logo">
          <img src="/assets/navbar-logo.png" alt="Kompaniya logotipi">
        </a>
        <div class="course-content">
          <!-- Kurs rasmi -->
          <img src="{{'https://api.urphacapital.uz' + course?.picture}}" class="course-image" alt="Kurs rasmi">

          <!-- Kurs tavsifi -->
          <div class="course-details">
            <h2>{{ course?.name }}</h2>
            <p>{{ course?.description }}</p>
            <p>{{ course?.subtitle }}</p>
            <p><strong>Narxi:</strong> {{ course?.price }}</p>
            <button class="buy-button" routerLink="{{'/payment/'+course?.id}}">Sotib olish</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
