<div class="background">
  <section class="course-info-section">
    <div class="container">
      <div class="course-info">
        <a href="/"><img src="/assets/navbar-logo.png" width="250" alt="">
        </a>
        <div>
          <h2>{{course?.title}}</h2>
        <p>
          {{course?.description}}
        </p>
        </div>
        <img src="{{'https://api.urphacapital.uz'+course?.picture}}" width="500" alt="">
        <button>Sotib olish</button>
      </div>
    </div>
  </section>
</div>
