<div class="background">
  <section class="course-info-section">
    <div class="container">
      <div class="course-info">
        <a href="/"><img src="/assets/navbar-logo.png" width="250" alt="">
        </a>
        <div>
          <h2>Oline 199</h2>
        <p>
          Urpha Capital Akademiyasi vgddhdgsvgsgsfdvsgdsddzvsdvsvsvsegergervsdv
        </p>
        </div>
        <img src="/assets/cours.png" width="500" alt="">
        <button>Kursni boshlash</button>
      </div>
    </div>
  </section>
</div>
