<app-navbar></app-navbar>

<main class="site-main">

  <section class="lesson-section">
    <div class="container">
      <div class="lesson">
        <h2>{{ course?.name }}</h2>
        <p>Barcha darslar:</p>
        <br>
        <ul>
          <li *ngFor="let lesson of lessons; trackBy: trackLesson">
            <div class="lesson-box" (click)="forwardToLessonDetails(lesson.id)">
              <div class="lesson-header">
                <h4>{{ lesson.title }}</h4>
              </div>
              <p>{{ lesson.homeworkDescription }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
</main>