.background {
  // background-image: url("/assets/homeBg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  height: 1000px;
  * {
    color: white;
  }

  // vg-player {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }

  .video-background-intro {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 1150px;
    z-index: -1;
    overflow: hidden;
    background-size: cover;

    .bg {
      position: absolute;
      top: -275px;
      left: -500px;
      width: 100%;
    }

    .video-background video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1000px;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }

    .content {
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: white; /* Yaxshi ko'rinish uchun kontentning rangini o'zgartirish */
      text-align: center;
      padding: 20px;
    }
  }
}

.intro-section {
  margin-top: 150px;
  margin-bottom: 500px;
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 40px;
  }
  button {
    width: 480px;
    padding: 15px 0;
    margin-top: 60px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    transition: all 0.3s ease;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.education-section {
  background-image: url("/assets/education-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  .education {
    padding: 150px 0 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 60px;
    width: 520px;
    margin-bottom: 400px;
  }
  .education-wrapper {
    display: flex;
    gap: 200px;
  }

  .left {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 500px;
    div {
      h3 {
        font-size: 40px;
        margin-bottom: 20px;
        span {
          color: blue;
        }
      }
      p {
        font-size: 25px;
      }
    }
  }
  .right {
    width: 500px;
    h3 {
      font-size: 40px;
      margin-bottom: 20px;
      span {
        color: red;
      }
    }
    p {
      font-size: 25px;
    }
  }
}

.cards-section {
  padding: 150px 0;
  background: rgb(16, 54, 21);
  background: linear-gradient(
    292deg,
    rgba(16, 54, 21, 1) 25%,
    rgba(19, 47, 14, 1) 56%,
    rgba(0, 0, 0, 1) 100%
  );
  * {
    transition: all 0.3s ease;
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }

  // .carousel{
  //   display: flex;
  //   gap: 10px;
  // }

  .card {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/card-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    width: 260px;
    height: 470px;
    border-radius: 10px;
    background-color: transparent;

    h2 {
      font-size: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 240px;
      margin-bottom: 10px;
    }

    img {
      // padding: 20px 0;
      margin-bottom: 10px;
      width: 100%;
      max-width: 170px;
      height: 100px;
    }

    p {
      width: 140px;
      word-spacing: 5px;
      line-height: 25px;
      // height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      width: 150px;
      padding: 10px 0;
      margin-top: 30px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.direction-section {
  background-image: url("/assets/direction-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  // margin-bottom: 100px;
  // background-position: center;

  .video-background {
    // position: fixed;
    // top: 0;
    // left: 0;
    min-width: 100%;
    height: 287px !important;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
  }

  .video-background video {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // transform: translate(-50%, -50%);
  }

  .content {
    // position: relative;
    z-index: 1;
    color: white; /* Yaxshi ko'rinish uchun kontentning rangini o'zgartirish */
    text-align: center;
    padding: 20px;
  }

  .direction {
    .direction-title {
      margin: 100px 0;

      h2 {
        margin: 0 auto;
        font-size: 40px;
        width: 330px;
      }
      span {
        color: green;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 100px 45px;
      justify-content: space-evenly;
      li {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        h3 {
          font-size: 45px;
          margin-bottom: 30px;
          color: blue;
        }

        .direction-wrapper {
          display: flex;
          align-items: flex-end;
          width: 300px;
        }

        p {
          font-size: 25px;
          letter-spacing: 2px;
          // margin-bottom: 20px;
        }
      }
    }
  }
}

.about-section {
  // background-image: url("/assets/about-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    155deg,
    rgba(0, 0, 0, 1) 6%,
    rgba(14, 45, 18, 1) 51%,
    rgba(18, 60, 12, 1) 72%,
    rgba(6, 6, 6, 1) 100%
  );
  padding-bottom: 200px;

  h2 {
    padding: 100px 0;
    font-size: 50px;
    text-align: center;
  }

  .container .about ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .mentor-card {
    position: relative;
    overflow: hidden;
    width: 300px;
    min-height: 345px;
    overflow: hidden;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: rgb(16, 54, 21);
    background: linear-gradient(
      135deg,
      rgba(16, 54, 21, 1) 25%,
      rgba(19, 47, 14, 1) 56%,
      rgba(0, 0, 0, 1) 100%
    );
    border: 1px solid black;

    // &:hover {
    //   transform: scale(1.1);
    // }
  }

  img {
    margin-bottom: 20px;
    width: 100%;
    // max-width: 200px;
    height: auto;
    border-radius: 5px;
  }

  h3,
  p {
    text-align: center;
  }

  // ul {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 75px;
  //   li {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-evenly;
  //     p {
  //       font-size: 30px;
  //       width: 700px;
  //       font-weight: 400;
  //     }
  //   }
  // }

  /* Mentor kartalari ro'yxati */
  // .about ul {
  //   list-style-type: none;
  //   padding: 0;
  //   display: flex;
  //   gap: 20px;
  //   flex-wrap: wrap;
  // }

  // .mentor-card {
  //   background-color: transparent;
  //   padding: 20px;
  //   border-radius: 12px;
  //   width: 300px;
  //   text-align: center;
  //   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  //   transition: box-shadow 0.3s ease;
  //   position: relative;
  // }

  .mentor-card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }

  // .mentor-content {
  // }

  /* Mentor rasm va sarlavha */
  .mentor-info {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .mentor-info img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }

  // .mentor-info h3 {
  //   font-size: 20px;
  //   margin-top: 15px;
  //   color: #333;
  // }

  /* Hover bo'lganda rasm va sarlavhani yashirish */
  .mentor-card:hover .mentor-info {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  /* Description uchun stil */
  .mentor-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: #333;
    padding: 20px;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
    // white-space: wrap;
    text-overflow: ellipsis;
    // max-width: 200px;
  }

  /* Hover bo'lganda description ko'rsatish */
  .mentor-card:hover .mentor-description {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-main {
  @media only screen and (max-width: 650px) {
    .intro-section {
      margin: 100px 0;
      img {
        width: 350px;
        margin-bottom: 30px;
      }
      h1 {
        font-size: 30px;
        text-align: center;
      }
      button {
        width: 300px;
        font-size: 20px;
        margin-top: 50px;
      }
    }

    .education-section {
      padding: 100px 0;
      margin: 100px 0;

      .education {
        padding: 100px;
      }

      h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 150px;
        width: 100%;
      }
      p {
        font-size: 20px;
        text-align: center;
      }

      .education-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        img {
          width: 300px;
          display: none;
        }
        p {
          width: 300px;
        }
      }
      .left,
      .right {
        width: 100% !important;

        h3 {
          text-align: center;
        }
      }
    }

    // .cards-section {
    //   display: none;
    // }

    .direction-section {
      margin-bottom: 0;
      h2 {
        font-size: 40px;
        text-align: center;
      }

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;

        li {
          flex-direction: column;
          align-items: center;
          gap: 30px;

          h3 {
            font-size: 30px;
            text-align: center;
          }

          p {
            width: 300px;
            text-align: center;
          }
        }
      }
    }

    .about-section {
      background-image: none;
      .about {
        h2 {
          font-size: 40px;
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 80px;
          li {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            img {
              width: 250px;
            }

            p {
              width: 100%;
              text-align: center;
              font-size: 20px;
              padding: 10px;
            }

            &:nth-child(2) {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .education-section {
      .education {
        padding: 20px;
        h2 {
          font-size: 30px;
        }
      }
    }
  }
} 

@media screen and  (max-width: 500px) {
  .background{
    .video-background-intro {
      top: -190px !important;
      left: -534px !important;
      overflow: visible !important;
    }
  }

  .education-section{
    background: none;
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;

  &:hover {
    background-color: #45a049;
  }

  i {
    color: white;
    font-size: 25px;
  }

  // Atrofida aylanuvchi chiziqlar
  &::before, &::after {
    content: " ";
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    animation: rotate 2s linear infinite;
  }

  &::before {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
  }

  &::after {
    width: 120px;
    height: 120px;
    top: -30px;
    left: -30px;
    animation-direction: reverse;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Modal uslubi */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  cursor: pointer;
}
