<div class="background" >
  <div class="video-background-intro">
    <div class="bg">
      <video autoplay loop [muted]="'muted'" playsinline>
        <source src="assets/video11.mp4">
        Your browser does not support the video tag.
      </video>

    </div>
  </div>
  <app-navbar></app-navbar>
  <main class="site-main">
    <section class="intro-section">
      <div class="container">
        <div class="intro">
          <img src="/assets/intro-2.png" width="600" alt="" />
          <h1>Urpha Capital Akademiyasi</h1>
          <button (click)="scrollToElement('cards')">Kursga yozilish</button>
        </div>
      </div>
    </section>
    <!-- <app-morquee></app-morquee> -->
    <section class="education-section">
      <div class="container">
        <div class="education">
          <h2>BIZNING TA`LIM TURLARIMIZ</h2>
          <div class="education-wrapper">
            <div class="left">
              <img src="/assets/house.png" width="100" alt="" />
              <div>
                <h3>Online <span>ta`lim</span></h3>
                <p>
                  Maxsus avtamatlashtirilgan sifatli dastur hisoblanadi
                  Vazifalar yuklash va supportlar xizmatidan foydalana olasiz
                </p>
              </div>
            </div>
            <div class="right">
              <h3>Offline <span>ta`lim</span></h3>
              <p>
                Urpha Capital Akademiyasi Ofline dasturi online dasturga
                qaraganda narxlarida farqlanadi chunki Offline dasturda siz
                mentor orqali ta’lim olasiz
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-morquee></app-morquee>
    <section class="cards-section" id="cards">
      <div class="container">
        <ngx-slick-carousel class="carousel cards" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let card of courses" class="card">
            <h2 class="card-title">{{ card.name }}</h2>
            <img src="{{ 'https://api.urphacapital.uz/' +card.picture }}" alt="Card image" />
            <!-- <p>{{ card.description }}</p> -->
            <p>{{card.subtitle}}</p>
            <button [routerLink]="['course-info', card.id]">{{ card.price }}</button>  
          </div>
        </ngx-slick-carousel>
      </div>
    </section>
    <section class="direction-section">
      <!-- <img src="/assets/statistika.png" width="100%" alt=""> -->
      <div class="video-background" width="100%">
        <video autoplay loop [muted]="'muted'" playsinline>
          <source src="assets/video22.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </section>
    <app-morquee></app-morquee>
    <section class="about-section" id="about">
      <div class="container">
        <div class="about">
          <h2>Mentorlar</h2>
          <ul>
            <li *ngFor="let mentor of mentors; trackBy: trackByMentorId" class="mentor-card">
              <div class="mentor-content">
                <!-- Rasm va sarlavha blokini hoverda yashiramiz -->
                <div class="mentor-info">
                  <img [src]="'https://api.urphacapital.uz/' + mentor.picture" width="400" alt="" />
                  <h3>{{ mentor.name }}</h3>
                </div>
                <!-- Description hover paytida ko'rinadi -->
                <div class="mentor-description">
                  <p>{{ mentor.description }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <app-morquee></app-morquee>

    <app-footer></app-footer>
  </main>
</div>
