<div class="background" >
  <div class="video-background-intro">
    <div class="bg">
      <video autoplay loop muted playsinline>
        <source src="assets/video11.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <app-navbar></app-navbar>
  <main class="site-main">
    <section class="intro-section">
      <div class="container">
        <div class="intro">
          <img src="/assets/intro-2.png" width="600" alt="" />
          <h1>Urpha Capital Akademiyasi</h1>
          <button>Kursga yozilish</button>
        </div>
      </div>
    </section>
    <section class="education-section">
      <div class="container">
        <div class="education">
          <h2>BIZNING TA`LIM TURLARIMIZ</h2>
          <div class="education-wrapper">
            <div class="left">
              <img src="/assets/house.png" width="100" alt="" />
              <div>
                <h3>Online <span>ta`lim</span></h3>
                <p>
                  Maxsus avtamatlashtirilgan sifatli dastur hisoblanadi
                  Vazifalar yuklash va supportlar xizmatidan foydalana olasiz
                </p>
              </div>
            </div>
            <div class="right">
              <h3>Offline <span>ta`lim</span></h3>
              <p>
                Urpha Capital Akademiyasi Ofline dasturi online dasturga
                qaraganda narxlarida farqlanadi chunki Offline dasturda siz
                mentor orqali ta’lim olasiz
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cards-section">
      <div class="container">
        <ngx-slick-carousel class="carousel cards" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let card of cards" class="card">
            <h2 class="card-title">{{ card.title }}</h2>
            <img src="{{ card.img }}" alt="Card image" />
            <p>{{ card.description }}</p>
            <button>{{ card.price }}</button>
          </div>
        </ngx-slick-carousel>
      </div>
    </section>

    <!-- <section class="cards-section">
      <div class="container">
        <div class="cards">
          <div class="card">
            <h2 class="card-title">15+ ONLINE</h2>
            <img src="/assets/card.png" alt="" />
            <p>
              15 oyda 15 000$ 180 ta video darslik Kunlik signal Savdo g’oyalar
              Daromad Tajriba
            </p>
            <button>399 000 so’m/oy</button>
          </div>
          <div class="card">
            <h2 class="card-title">15+ ONLINE</h2>
            <img src="/assets/card.png" alt="" />
            <p>
              15 oyda 15 000$ 180 ta video darslik Kunlik signal Savdo g’oyalar
              Daromad Tajriba
            </p>
            <button>399 000 so’m/oy</button>
          </div>
          <div class="card">
            <h2 class="card-title">15+ ONLINE</h2>
            <img src="/assets/card.png" alt="" />
            <p>
              15 oyda 15 000$ 180 ta video darslik Kunlik signal Savdo g’oyalar
              Daromad Tajriba
            </p>
            <button>399 000 so’m/oy</button>
          </div>
          <div class="card">
            <h2 class="card-title">15+ ONLINE</h2>
            <img src="/assets/card.png" alt="" />
            <p>
              15 oyda 15 000$ 180 ta video darslik Kunlik signal Savdo g’oyalar
              Daromad Tajriba
            </p>
            <button>399 000 so’m/oy</button>
          </div>
          <div class="card">
            <h2 class="card-title">15+ ONLINE</h2>
            <img src="/assets/card.png" alt="" />
            <p>
              15 oyda 15 000$ 180 ta video darslik Kunlik signal Savdo g’oyalar
              Daromad Tajriba
            </p>
            <button>399 000 so’m/oy</button>
          </div>
        </div>
      </div>
    </section> -->
    <section class="direction-section">
      <!-- <img src="/assets/statistika.png" width="100%" alt=""> -->
      <div class="video-background" width="100%">
        <video autoplay loop muted playsinline>
          <source src="assets/video22.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="container">
        <div class="direction">
          <div class="direction-title">
            <h2>BIZNING <span>TA`LIM</span> TURLARIMIZ</h2>
          </div>
          <ul>
            <li *ngFor="let course of courses">
              <img src="/assets/direction-1.png" width="100" alt="" />
              <div>
                <h3>{{course.name}}</h3>
                <div class="direction-wrapper">
                  <p>
                    {{course.description}}
                  </p>
                  <a href="/course-info/{{course.id}}">
                    <img
                      src="/assets/direction-right.png"
                      width="50"
                    />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="about-section" id="about">
      <div class="container">
        <div class="about">
          <h2>Kompaniya haqida</h2>
          <ul>
            @for(mentor of mentors;track mentor.id){
            <li>
              <img [src]="'https://api.urphacapital.uz/' + mentor.picture" width="400" alt="" />
              <p>
                {{ mentor.description }}
              </p>
            </li>
            }
            <!-- <li>
              <p>
                Mentor Nodirbek Mamasidiqov 2 yillik tajribaga ega . Hozirgi
                kunda 100 000 $ prop hisob boshqaradi asosan valyuta birjasida
                savdo qiladi
              </p>
              <img src="/assets/about-img.png" width="400" alt="" />
            </li> -->
          </ul>
        </div>
      </div>
    </section>
  </main>
</div>
