<app-navbar></app-navbar>
<div class="container courses">
  <app-go-back></app-go-back>

<div class="course-list">
  <h2>Mening Kurslarim</h2>
  <mat-grid-list *ngIf="myCourses.length; else noCourses" [cols]="cols" rowHeight="450px" gutterSize="10px">
    <mat-grid-tile *ngFor="let course of myCourses" class="course-card">
      <mat-card>
        <img mat-card-image [src]="'https://app.urphacapital.uz' + course.picture" alt="{{course.name}}">
        <mat-card-header>
          <mat-card-title>{{ course.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="description">{{ course.subtitle }}</p>
          <p>Price: <!-- {{course.price}} --> To'langan</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="'/lessons/'+course.id">Kirish</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #noCourses class="no-course">
    <div class="no-course">
      <h4>Sotib olingan kurslar mavjud emas.</h4>
    </div>
  </ng-template>
</div>



<div class="course-list">
  <h2>Barcha Kurslar</h2>
  <mat-grid-list [cols]="cols" rowHeight="450px" gutterSize="10px">
    <mat-grid-tile *ngFor="let course of courses" class="course-card">
      <mat-card>
        <img mat-card-image [src]="'https://app.urphacapital.uz' + course.picture" alt="{{course.name}}">
        <mat-card-header>
          <mat-card-title>{{ course.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="description">{{ course.subtitle }}</p>
          <p>Price: {{ course.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/course-info', course.id]">Sotib olish</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>

<footer class="footer-section" style="padding: 20px; text-align: center; color: #fff;">
  <div class="container">
    <div class="footer">
      <div class="footer-bottom">
        <p>&copy; 2024 Urpha Capital. Barcha huquqlar himoyalangan.</p>
      </div>
    </div>
  </div>
</footer>