.courses{
  margin-top: 50px;
  *{
    color: white;
  }
}

.course-list {
  margin: 0px;
  margin-top: 50px;
  // background-color: rgb(104, 103, 103);
}

.course-card {
  margin: 10px;
}

mat-card {
  // min-width: 400px;
  width: 100%;
  padding: 20px;
}

.description {
  height: 100px;
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(104, 103, 103) transparent; /* Scrollbar color for Firefox */
}

/* Webkit-based browsers like Chrome, Safari */
.description::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.description::-webkit-scrollbar-thumb {
  background-color: rgb(104, 103, 103); /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded scrollbar */
}

.description::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

.description::-webkit-scrollbar-thumb:hover {
  background-color: rgb(70, 70, 70); /* Darker thumb on hover */
}


mat-card img {
  height: 200px;
  object-fit: cover;
}

.no-course{
  text-align: center;
  margin: 50px 0;
  
}