<app-navbar></app-navbar>

<section class="lesson-view-section">
  <div class="container">
    <div class="lesson-view">
      <h2>{{ lesson?.title }}</h2>
      <video
        [src]="videoUrl"
        width="600"
        height="350"
        controls
        controlsList="nodownload"
        oncontextmenu="return false;"
      ></video>
      <!-- vazifa yuklash -->
      <a href="https://t.me/code_en" target="_blank" class="upload-btn">
        Vazifa
        <i class="fa fa-upload"></i>
      </a>
    </div>
  </div>
</section>
