<div class="payment-container">

  <div>
    <app-go-back></app-go-back>
  <div class="payment-box">
    <h2>To'lov ma'lumotlari</h2>

    <!-- Karta raqami -->
    <div class="form-group">
      <label for="card-number">Karta raqami</label>
      <input type="text" id="card-number" placeholder="0000 0000 0000 0000">
    </div>

    <!-- Amal qilish muddati va CVV -->
    <div class="form-group double">
      <div class="input-half">
        <label for="expiry-date">Amal qilish muddati</label>
        <input type="text" id="expiry-date" placeholder="MM / YY">
      </div>
      <div class="input-half">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" placeholder="000">
      </div>
    </div>

    <!-- Ism va familiya -->
    <div class="form-group">
      <label for="name">Karta egasining ismi</label>
      <input type="text" id="name" placeholder="Ism Familiya">
    </div>

    <!-- To'lov tugmasi -->
    <button class="pay-button" (click)="pay()">To'lovni amalga oshirish</button>
  </div>

  </div>
  
  </div>
